@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body{
  margin: 0;
  font-family: 'Montserrat', Sans-Serif;
}
#header{
  background-color:#054723;
  height: 150px;
  line-height: 150px;
}
#header a {
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing:0.12em;
}
#header a:hover {
  color:#636363;
}
#header-title{
  display: block;
  float: left;
  font-weight: bold;
  font-size: 20px;
}
#header-nav{
  display: block;
  float: right;
}
#header-nav li{
  display: inline;
  padding-left: 30px;
  margin-top: 0;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
}
#footer{
  background-color:#2f2f2f;
  padding: 50px 0;
}
#footer h4{
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing:0.12em;
}
#footer a{
  color:white;
}
#footer a:hover{
  color: gray;
}
#footer p{
  color:white;
}
.column{
  display: inline-block;
  min-width:300px;
  vertical-align: top;
}
a{
  text-decoration: none;
  color: #054723;
}
a:hover {
    color:#636363;
}
.about{
  max-width:800px;
  margin: 0 auto;
  padding: 45px 0;
}
.post-author img{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 50%;
}
.about img {
  height: 200px;
  vertical-align: middle;
  border-radius: 50%;
  width: 200px;
}
.post-author span{
  margin-left: 16px;
}
.post-date{
 color: #D2D2D2;

 font-size: 14px;
 font-weight: bold;

 text-transform: uppercase;
 letter-spacing: 0.12em;
}
h1, h3,h4{
  color:#333;
}
p {
  line-height:2;
}
.post , h2{
  max-width: 1500px;
  padding: 40px 80px 10px 260px;
  margin: 0;
}
.post:nth-child(2n){
  background: #f2f2f2;
  margin-right: 0px;
  margin-left: 0px;
}

.Thesis-title{
  margin-top: 50px;
  margin-bottom: 25px;
} 
.Thesis-link {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
#linkdn1{
  text-decoration-color: white;
  color: white;
}
button ,.p-fullpaper{
  border: none;
  padding: 20px 62px 20px ;
  font-size: 16px;
  border-radius: 5%;
}
.p-thesis {
    line-height: 2.5 ;
}







